@* @model Category *@
@{
    ViewData["Title"] = "Edit Category";
}

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit Category "@Model.Name"</h3></div>
                            <div class="card-body">
                                
                                <form method="Post" asp-area="Admin" asp-controller="Category" asp-action="Edit">

                                    <input type="hidden" name="Id" value="@Model.Id" />


                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="Name" name="Name" type="text" />
                                        <label for="Name">Update Name</label>

                                    </div>

                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="Description" name="Description" type="text"  />
                                        <label for="Description">Update Description</label>

                                    </div>

                                    <div class="mt-4 mb-0">
                                        <button type="submit" class="btn btn-primary btn-block">Edit</button>

                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
        </main>
    </div>
